# Python
__pycache__/
*.pyc
.venv/
venv/

# Hadoop outputs locaux
output/
*.crc
_SUCCESS

# Système / éditeurs
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/

# Java / MapReduce : fichiers compilés (régénérés à chaque build)
*.class
*.jar
scripts/hadoop/java/classes/
